body
{
	background: lavenderblush;
}

	.login_div1 , .login_div2
	{
		background: plum;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

.first_div{

background-color: lightblue;

    }

    .second_div{

        background-color: lightblue;
       
            }

            h3{
                font: italic;
            }

	#output{
		background: white;
		border-radius: 10px;
		border-top: 10px solid pink;
		padding: 10px;
		float: none;
		text-align: left;
	}

	h2{
	color: red;
	}